*{
    margin:0;
    padding: 0;
    outline: 0;
}
body{
    background: rgb(0, 0, 0);
    color:rgb(212, 201, 201);
    /*font-family: 'Anton', sans-serif;*/
    font-family: 'Oswald', sans-serif;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
p{
    font-size: 20px;
}
.container{
    width: 1100px;
    margin: auto;
}
.header_sec{
    display:flex;
}
.header{
    padding-top: 100px;
}
.header h1{
    font-size: 50px;
    padding:15px 0;
}
.header h2{
    font-size: 30px;
    padding:15px 0;
}
.name{
    color:chocolate;
    text-decoration: underline;
    font-size: 40px;
}
img{
    width: 80%;
}
.name2{
    color:chocolate;
    text-decoration: underline;
    font-size: 20px;
}
.header p{
    padding-top: 25px;
}
.hire_button{
    padding-top:110px;
}
.hire_button a{
    background:#fff;
    padding:10px 60px;
    border-radius: 8px;
    font-size: 26px;
    font-weight: 600;
    text-decoration: none;
}

.service_area{
    padding-top: 150px;
}
.service_header{
    text-align: center;
}
.service_header h4{
    font-family: 'Londrina Shadow', cursive;
    font-size: 120px;
    color: rgba(187, 179, 179, 0.123);
    margin-top: -100px;
}
.service_header h3{
    font-size: 40px;
    margin-left: 30px;

}
.service_content{
    display: flex;
    text-align: center;
    margin-left: 30px;
    padding-top: 35px;
}
.ser_element{
    width: 40%;
    border:1px solid blue;
    margin:15px 20px;
    padding:20px 20px;
    box-shadow: 1px 1px 10px rgb(54, 238, 30);
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.082);
}
.ser_element h3{
    font-size: 30px;
    color: rgb(178, 248, 108);
    padding: 15px 0;
    text-decoration: underline;
}
.ser_element p{
    line-height: 40px;
}
.contact{
    padding: 60px;
    text-align: center;
}
.contact_heading h3{
    font-size: 60px;
    color: rgba(255, 255, 255, 0.267);
    font-family: 'Londrina Shadow', cursive;
    padding: 15px 0;
}
.contact_item{
    display: flex;
    padding-top: 40px;
}
.contact_elements{
    width: 50%;
}
.Social_link{
    width: 60%;
    padding-top: 20px;
    padding-right: 70px;
}
.Social_link a{
    background: rgb(84, 209, 0);
    padding: 10px 20px;
    border-radius: 8px;
    margin: 0 10px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(63, 20, 255);
}
.Copyright{
    text-align: center;
    padding: 30px 0;
}
.Copyright p{
   color: rgb(85, 66, 66);
}
.heart{
    color: red;
}